/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures footer stays at bottom */
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 20px;
    height: 50px;
  }
  
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .menu li a:hover {
    color: #ffd700; /* Change color on hover */
  }
  
.barItem {
    height: 40px;
    background-color: #fff;
    border-style: outset;
}

.barItem:hover {
    background-color: #dfdfdf;
    border-style: inset;
}

.Lbtn {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-column {
  width: 30%;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li a {
  color: #fff;
  text-decoration: none;
}

.social-links li a:hover {
  text-decoration: underline;
}

.base_block {
  flex: 1; /* Makes the block body fill available space */
  padding: 20px;
}
/* index html */

#Home_name {
  text-align: center;
  margin: 30px auto;
  width: fit-content;
  font-size: 3vw;
}
.Product_title
{
  text-align: center;
  border-top: 3px ridge black;
  border-bottom: 3px ridge black;
  width: 70vw;
  transition: 400ms;
  margin: 10px auto;
  margin-bottom: 50px;
}
@media (max-width: 850px)
{
  .Incoming, .Accepted-Orders, .Completed-Orders
  {
      transition: 400ms;
      width: 100%;
  }
}