<style>
.body {
    width: 300px;
    margin: 0 auto;
}

.msg {
    color: red;
    margin-bottom: 10px;
}

.textbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.bottom {
    color: #007bff;
    text-decoration: none;
}

.bottom:hover {
    text-decoration: underline;
}

</style>
{% block body %}
<div class="body">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if category == 'error' %}
            <script>
                window.onload = function() {
                    alert('{{ message }}');
                }
            </script>
        {% endif %}
    {% endfor %}
{% endwith %}


<form action="{{ url_for('signup') }}" method="post">
    <select name="accountType" id="accountType">
        <option value="Customer">Customer</option>
        <option value="Vendor">Vendor</option>
        <option value="Admin">Admin</option>
    </select> <br><br>
    <input id="username" name="username" type="text" placeholder="Enter your username" class="textbox" required/><br><br>
    <input id="password" name="password" type="password" placeholder="Enter your password" class="textbox" required/><br><br>
    <input id="email" name="email" type="email" placeholder="Enter your email address" class="textbox" required/><br><br>
    <input id="name" name="name" type="text" placeholder="Enter your Name" class="textbox" required/><br><br>
    <input type="submit" class="btn" value="Sign Up"><br>
</form>
        <p>Already have an account? <a href="/login"> Sign in here</a></p>
    </div>
{% endblock %}
